@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');

body {
    margin: 0px;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Nunito Sans';
}

a {
    text-decoration: none;
    color: #808080;
}

a:hover {
    color: #404040;
}

#top-section {
    display: flex;
    margin-top: 30px;
}

#top-section > #side {
    padding: 20px;
    text-align: justify;
    font-size: larger
}

#top-section p {
    padding-bottom: 25px;
    margin: 0px;
}

.publication {
    margin-bottom: 25px;
}

.publication p {
    margin: 0px;
}

.publication > .actions > a {
    display: block;
    padding: 10px;
    background-repeat: no-repeat;
    padding-left: 30px;
    background-position-y: 8px;
}

a.download {
    background-image: url(../images/download.svg);
}