@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans&display=swap');

body {
    margin: 0px;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Nunito Sans';
}

a {
    text-decoration: none;
    color: #0782b3;
}

a:hover {
    color: #40c1f8;
}

#top-section {
    display: flex;
    margin-top: 30px;
}

#top-section > #side {
    padding: 20px;
    text-align: justify;
    font-size: larger;
    color: #404040;
}

#top-section p {
    padding-bottom: 25px;
    margin: 0px;
}

.publication {
    margin-bottom: 30px;
}

.publication p {
    margin: 0px;
    font-size: large;
}

.publication div.actions {
    margin-top: 3px;
}

.publication > .actions > a {
    display: inline-block;
    padding: 5px;
    background-repeat: no-repeat;
    padding-left: 33px;
    padding-right: 10px;
    background-position-y: 7px;
    background-position-x: 7px;
}

a.download {
    display: block;
    color: #000;
}

a.download:hover {
    color: #000;
}